body{
    margin:0px;
}
div{
    margin-bottom:30px;
    font-size:20px;
}
#header{
    background:linear-gradient(45deg,black,orangered);
    color:white;
    padding:10px;
}
#header h2{
    margin:5px 0px;
}
input,button{
    font-size:20px;
}
#mtable_section{
    margin:30px;
    line-height:2;
    border:2px solid black;
    border-radius:15px;
    width:200px;
    padding:10px;
}