body{
    background:linear-gradient(lightblue, pink) ;
}
table{
    width: 200px;
    height: 500px;
}
img{
    width: 270%;
    height: 170;
    border-radius: 20px;
    box-shadow: 0 0 10px;
}
.img.main{
    width: 370;
    height: 270;
}
h2{
    background-image: linear-gradient(45deg black,darkred, black);
    border: 2px solid black;
    box-shadow: 5px 5px 80px gray;
    width: 200px;
    height: 100px;
    margin: auto;
}